.sign_in 
    background: #cbffe2;
    padding: 20px 0 0 20px;

.base-label, .base-input
    display: inline-flex;

.base-label
    width: 200px;

.error-label
    font-size: 24px;
    color: red;
    padding: 20px;
    
.oauth-google
    font-size: 37px;
    margin: 10px 0;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 7px;
    background-color: red;
    opacity: 0.5;
    &:hover
        opacity: 1;
        cursor: pointer;