body
    border: none;
    margin: 0px;
    padding: 0px;
    color: #002009;

h1, h2
    color: #0d0d0d;

h1
    font-size: 30px;
    margin: 0;

h2
    font-size: 26px;
    margin: 0;
    
.base-input, .base-button, base-select
    outline: none;

.base-button
    background: #5ea1d4;
    border-style: none;
    width: 120px;
    height: 40px;
    font-size: 24px;
    transition: background-color 1s ease;
    cursor: pointer;

    &:hover
        background: #544596;

.base-label
    font-size: 24px;
    margin: 10px 0;

.base-input
    padding: 7px;
    font-size: 20px;
    margin: 10px 0;

.base-select
    padding: 7px;
    background: #7b9f35;
    border-style: none;
    border: 0;
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;

    option
        cursor: pointer;
        color: #fff;
        background: #44897a;
