.sign_up 
    background: #f8cbcb;
    padding: 20px 0 0 20px;

.base-label, .base-input
    display: inline-flex;

.base-label
    width: 200px;

.error-label
    font-size: 24px;
    color: red;
    padding: 20px;